{
  "extends": ["eslint:recommended"],
  "rules": {
    // override recommended
    "no-unused-vars": 0,

    // custom
    "no-use-before-define": 2,
    "eqeqeq": 0,
    "no-eq-null": 2,
    "consistent-return": 2,
    "default-case": 2,
    "no-alert": 2,
    "no-caller": 2,
    "complexity": [0, 5],
    "no-dupe-class-members": 2,
    "no-magic-numbers": 0,
    "no-irregular-whitespace": 0,
    "no-var": 2,
    "no-restricted-syntax": 0,

    // styling
    "no-trailing-spaces": 2,
    "camelcase": 0,
    "indent": [2, "tab", {"SwitchCase": 1}],
    "new-parens": 2,
    "no-floating-decimal": 2,
    "no-array-constructor": 2,
    "object-curly-spacing": [2, "always"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true, "mode": "minimum"}],
    "no-multi-spaces": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-dangle": ["error", "always-multiline"],
    "no-spaced-func": 2,
    "space-infix-ops": [2, {"int32Hint": false}],
    "space-in-parens": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "semi": [2, "always"],
    "linebreak-style": 0,
    "eol-last": 2,
    "yoda": 2,
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
  },
  "plugins": [
    "pug"
  ],
  "globals": {
    "document": true,
    "$": true,
    "window": true,
    "Parachute": true,
  }
}
