extends /pug/layouts/_rootLayout

block var
	- var page = data.data.pages.raysample // 末尾のプロパティ名のみ変更する

block title
	title= page.title

block append main
	div#output-webgl.p-output-webgl
	div#output-stats

block append script
	script(data-src="./assets/glsl/"+page.path+"/raysample.vert" charset="utf-8" data-name="myShader" type="x-shader/x-vertex")
	script(data-src="./assets/glsl/"+page.path+"/raysample.frag" charset="utf-8"  data-name="myShader" type="x-shader/x-fragment")
	script(src="./assets/js/pages/index.js")
	script(src="./assets/js/util.js")
